[user]
    name=Chris Davison
    email=c.jr.davison@gmail.com
[advice]
    ignoreHook=false
[pull]
    rebase=true
[push]
    default=simple
[merge]
    ff=false
[rebase]
    autosquash=true
[help]
    autocorrect=5
[status]
    submodulesummary=1
[diff]
    submodule=log
[alias]
    uncommit=reset --soft HEAD^
    unstage=reset HEAD --
    discard=checkout --
    staged=diff --cached
    l=log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    ll=log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all origin..
    d=diff -w
    s=status -s -b
    branch-name=rev-parse --abbrev-ref HEAD
    branches=branch -a
    tags=tag
    stashes=stash list
    sshow=stash show --text
    scl=stash clear
    a=add
    aa=add --all
    ap=add --patch
    c=commit -v
    ca=commit -v --amend
    can=commit -v --amend --no-edit
    co=checkout
    cob=checkout -b
    wch=whatchanged -p --abbrev-commit --pretty=medium
    # Push branch to remote
    publish="!git push -u origin $(git branch-name)"
    # Remove branch from remote
    unpublish="!git push origin :$(git branch-name)"
    editmodified="!$EDITOR $(git ls-files -m -o)"
    sa="!git submodule add https://github.com/$@"
[core]
    excludesfile = ~/.global_ignore
    commitGraph = true
    pager="less -FRSX"
    ignoreCase = true
[wc]
    writeCommitGraph = true
[github]
    user = ChrisDavison
    oauth-token = ***REMOVED***
[commit]
	verbose = true
