[user]
	name = Christopher Davison
    email = c.jr.davison@gmail.com
[advice]
    ignoreHook = false
[push]
	default = simple
[merge]
	ff = false
[core]
	excludesfiles = /Users/davison/.global_ignore
[alias]
    a = add --all
	b = branch
	c = commit
    co = checkout
	delete-merged-branches = "!git branch --merged | grep -v '*' | xargs -n 1 git branch -d"
	bclean = "!f() { git checkout ${1-master} && git branch --merged ${1-master} | grep -v ' ${1-master}$' | xargs git-branch -d; }; f"
	l = log --all --decorate --oneline --graph
	pb = pull --rebase --prune
	# Handling the staging area
    unstage = reset -q HEAD --
    discard = checkout --
	d = diff -w
	dw = diff -w --word-diff
    aliases = "!git config -l | grep alias | cut -c 7-"
	rb = rebase
	fdone = "!f(){ git checkout ${1-master} && git pb && git bclean ${1-master}; }; f"
	feature = "!f() { [ -z $1 ] && echo 'Give a feature name' && exit; b=$1; git checkout master; git pb; git checkout -b "feature/$b" master; }; f"
	features = "!git branches | grep feature"
	fix = "!f() { [ -z $1 ] && echo 'Give a fix name' && exit; b=$1; git checkout master; git pb; git checkout -b "fix/$b" master; }; f"
	fixes = "!git branches | grep fix"
	#=============================================================
	# Repo 'metadata'
	branch-name = rev-parse --abbrev-ref HEAD
    ignored = ls-files --others
	untracked = ls-files --others
	tracked = ls-files
	s = status -s -b
	unpushed = log --branches --not --remotes
	branches = branch -a
    tags = tag
    stashes = stash list
	#=============================================================
    # Handling conflicts
	# Checkout OUR (local) or THEIR (remote) version of a file
	ours = "!f() { git checkout --ours $@ && git add $@; }; f"
	theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"
	#=============================================================
    # Push branch to/remove branch from remoteorigin/<branch>
    publish = "!git push -u origin $(git branch-name)"
    nuke = "!git push origin :$(git branch-name)"
[diff]
	submodule = log
[status]
	submodulesummary = 1
[help]
	autocorrect = 5
