**/3rd_party/
**/.netrwhist
**/__*.fish
**/fisher.fish
fish/fishd.*
**/fishd.*
**/.vscode
.mypy_cache/
tags
.config/fish/fish_variables
.emacs.d/backups/
.emacs.d/elpa/
.emacs.d/chris-davison.el
/.emacs.d/.emacs.desktop
/.emacs.d/.lsp-session-v1
/.emacs.d/auto-save-list/
/.emacs.d/bookmarks
/.emacs.d/chris-davison.ema
/.emacs.d/eshell/
/.emacs.d/forge-database.sqlite
/.emacs.d/nov-places
/.emacs.d/recentf
/.emacs.d/savehist
/.emacs.d/transient/
/.emacs.dvar/
.emacs.d/.emacs.desktop.lock
.emacs.d/projectile-bookmarks.eld
/.emacs.d/anaconda-mode/
/.emacs.d/url/
/.emacs.d.org-id-locations
/.emacs.d/*Warnings*
.config/hub
.config/omf/
.config/dask
history.sqlite
.vim/plugins
.config/wslu
.config/configstore
