* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  min-width: 480px;
  font-family: "Fjord One", "serif";
  font-size: 115%;
  margin: 0;
  line-height: 140%; }
  body a {
    text-decoration: none;
    color: #7c7c7c; }

#main-container {
  background-color: white;
  color: #3c3c3c;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  max-width: 45em;
  z-index: 1;
  min-height: 400px; }
  .container ul {
    list-style: none;
    padding-left: 2em; }
    .container ul li:before {
      content: "\0BB \020"; }
  .container a {
    text-decoration: underline; }

div.overview {
  border: 1px dotted #cccccc;
  background: #efefef;
  padding: 0 1em;
  margin-top: 1em; }

h2 {
  font-size: 2em;
  font-weight: bold;
  font-variant: small-caps;
  font-weight: normal; }

h3 {
  font-weight: normal;
  margin-top: 2em;
  padding-left: 0.5em;
  border-left: 3px solid rgba(0, 0, 0, 0.4); }

h4 {
  font-weight: normal;
  font-style: italic; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  font-size: 0.75em;
  overflow: auto;
  padding: 0;
  width: 100%; }
  table th {
    font-weight: 700;
    border: 1px solid #dddddd;
    padding: 6px 13px; }
  table td {
    border: 1px solid #dddddd;
    padding: 6px 13px; }
  table tr {
    background-color: white;
    border-top: 1px solid #cccccc; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }

li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
  list-style-type: decimal !important; }
li.L1, li.L3, li.L5, li.L7, li.L9 {
  background: #414141 !important; }

img.logbook {
  clear: left;
  display: block;
  float: right;
  max-height: 250px;
  padding-left: 1em;
  color: red; }
  img.logbook:nth-of-type(2n) {
    clear: right;
    float: left; }
  img.logbook.centre {
    clear: both;
    float: none !important;
    padding: 1em 0;
    margin: 0 auto; }
