snippet	CMNT
\textit{\textbf{${1:COMMENT}}}
endsnippet
snippet	CITE
\textit{\textbf{CITE}}
endsnippet
snippet	REF
\ref{${1:REFERENCE}}
endsnippet
snippet	REFE
\ref{eqn:${1:REFERENCE}}
endsnippet
snippet	REFT
\ref{tab:${1:REFERENCE}}
endsnippet
snippet	REFF
\ref{fig:${1:REFERENCE}}
endsnippet
