snippet task
	# ${1:title}

	## Tasks

	## Context

snippet LBR
	`repeat('-', 80)`
snippet -td
	- **TODO** ${1:task}
snippet $FR
	$\frac{${1:num}}{${2:denom}}$
snippet ASIDE
	\&mdash;${1:ASIDE}\&mdash;
snippet HT
	\`#${1:hashtag}\`
