[push]
	default = simple
[chris]
	davison = Christopher Davison
[user]
	name = Christopher Davison
	email = c.jr.davison@gmail.com
[github]
	user = ChrisDavison
	password = a81ZNbJCbLtNwrlD
	oauth-token = a809eb888dd312bf7eade318c16680196c71d4c0
[init]
	templatedir = ~/.git_template
