# * https://atom.io/docs/latest/using-atom-basic-customization
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-text-editor[data-grammar="source gfm"]:not([mini])':
  'tab':        'markdown-folder:dwim-toggle'
  'alt-c':      'markdown-folder:cycle'
  'ctrl-alt-c': 'markdown-folder:cycleall'
  'alt-shift-o': 'link:open'
  'f5': 'markdown-writer:insert-link'

'.platform-darwin atom-text-editor:not([mini])':
  # 'cmd-;': 'smalls:start'
  'cmd-:': 'narrow:lines'

'.platform-win32 atom-text-editor:not([mini])':
  # 'ctrl-;': 'smalls:start'
  'ctrl-:': 'narrow:lines'

# 'atom-text-editor.vim-mode-plus.normal-mode':
#   's': 'smalls:start'
#   's ^s': 'unset!'
'atom-text-editor':
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'ctrl-shift-tab ^ctrl': 'unset!'
  'ctrl-w c': 'tab:close'
  'ctrl-w ctrl-c': 'tab:close'

'atom-text-editor.vim-mode-plus':
  'ctrl-w c': 'unset!'
  'ctrl-w ctrl-c': 'unset!'
